{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <br/><br/>
    <button type="button" class="btn btn-success"><a href="{{ path('client_new') }}" class="text-white" style="text-decoration:none;" >Nouveau Client</a></button>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('client_show', {'id': client.id}) }}" class="text-white" style="text-decoration:none;" >Plus</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('client_edit', {'id': client.id}) }}" class="text-white" style="text-decoration:none;" >Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
