{% extends 'base.html.twig' %}

{% block title %}LigneCommande index{% endblock %}

{% block body %}
    <br/><br/>
    <button type="button" class="btn btn-success"><a href="{{ path('ligne_commande_new') }}" class="text-white" style="text-decoration:none;" >Nouvelle LigneCommande</a></button>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdCom</th>
                <th>IdProduit</th>
                <th>QteCom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne_commande in ligne_commandes %}
            <tr>
                <td>{{ ligne_commande.id }}</td>
                <td>{{ ligne_commande.idCom }}</td>
                <td>{{ ligne_commande.idProduit }}</td>
                <td>{{ ligne_commande.qteCom }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('ligne_commande_show', {'id': ligne_commande.id}) }}" class="text-white" style="text-decoration:none;" >Plus</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}" class="text-white" style="text-decoration:none;" >Modifier</a></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
