{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <br/><br/>
    <button type="button" class="btn btn-success"><a href="{{ path('produit_new') }}" class="text-white" style="text-decoration:none;" >Nouveau Produit</a></button>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Qte</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.qte }}</td>
                <td>{{ produit.prix }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('produit_show', {'id': produit.id}) }}" class="text-white" style="text-decoration:none;" >Plus</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('produit_edit', {'id': produit.id}) }}" class="text-white" style="text-decoration:none;" >Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
