{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <br/><br/>
    <button type="button" class="btn btn-success"><a href="{{ path('categorie_new') }}" class="text-white" style="text-decoration:none;" >Nouvelle Catégorie</a></button>
    <br/><br/>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>
                    <button type="button" class="btn btn-info"><a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="text-white" style="text-decoration:none;" >Plus</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="text-white" style="text-decoration:none;" >Modifier</a></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune donnée trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
