{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ categorie.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-info"><a href="{{ path('categorie_index') }}" class="text-white" style="text-decoration:none;" >Retour</a></button>

    <button type="button" class="btn btn-warning"><a href="{{ path('categorie_edit', {'id': categorie.id}) }}" class="text-white" style="text-decoration:none;" >Modifier</a></button>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
